$archivo: 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$oldtt: 'Old Standard TT','offline-old_standard_ttregular', 'Roboto', sans-serif, arial;
$roboto: 'Roboto', 'offline-roboto', 'Archivo', sans-serif, arial;
$oswald: 'Oswald', 'offline-oswald', 'Archivo', sans-serif, arial;

$beige: rgb(190, 173, 142);
$beigetwo: rgb(189, 172, 141);
$gray: rgb(248, 248, 248);
$lightgray: rgb(249, 249, 249);
$darkgray: rgb(119, 119, 119);
$grayone: rgb(194, 194, 194);
$graytwo: rgb(248, 248, 248);
$black: rgb(34, 34, 34);
$blacktwo: rgb(41, 41, 41);
$blackthree: rgb(17, 17, 17);
$white: rgb(255, 255, 255);
$trueblack: rgb(0, 0, 0);
$red: rgba(222, 87, 119, 1);

