.hero {
  background-color: rgb(51, 51, 51);
  padding: 2rem 1rem;
  color: rgb(255, 255, 255);
  position: relative;
  padding-bottom: 6rem;
}
.hero__p {
  font-family: "Oswald", "offline-oswald", "Archivo", sans-serif, arial;
  font-size: 0.7rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  margin: 0;
  text-align: left;
}
.hero__h1 {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 3rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 0.5rem 0;
  text-align: left;
}
.hero__navegation {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  padding: 0.7rem 1.5rem;
  right: 1.25rem;
  bottom: -0.1rem;
  position: absolute;
}
.hero__navegation__return {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
  text-decoration: none;
  margin-right: 0.5rem;
}
.hero span {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(190, 173, 142);
}
.hero #verticalbar {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin: 0 0.5rem;
}

.contact {
  margin: 2rem 0;
  padding: 1.5rem 1.5rem;
  background-color: rgb(255, 255, 255);
}
.contact__hotel, .contact__phone, .contact__email {
  position: relative;
  margin-bottom: 6rem;
  display: flex;
  align-items: flex-start;
}
.contact__hotel__icon, .contact__phone__icon, .contact__email__icon {
  margin-right: 1.5rem;
  width: 50px;
  height: auto;
  z-index: 3;
}
.contact__hotel__info, .contact__phone__info, .contact__email__info {
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact__hotel__info__text, .contact__phone__info__text, .contact__email__info__text {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 24px;
  font-weight: 200;
  color: rgb(34, 34, 34);
  margin: 0;
}
.contact__hotel__info__address, .contact__hotel__info__number, .contact__hotel__info__add, .contact__phone__info__address, .contact__phone__info__number, .contact__phone__info__add, .contact__email__info__address, .contact__email__info__number, .contact__email__info__add {
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 16px;
  font-weight: 100;
  color: rgb(34, 34, 34);
  margin: 5px 0 0;
  line-height: 1.5;
}
.contact__hotel__info__img, .contact__phone__info__img, .contact__email__info__img {
  position: absolute;
  width: 150px;
  height: auto;
  margin-left: 5rem;
  color: rgb(248, 248, 248);
  z-index: -1;
}
.contact__us {
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 100%;
}

.form__container {
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.form__container__group {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(248, 248, 248);
  padding: 10px 10px 10px 40px;
  margin-bottom: 15px;
  border: 1px solid white;
  display: flex;
  align-items: center;
}
.form__container__group__pencil {
  position: absolute;
  left: 10px;
  top: 15%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}
.form__container__group__img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}
.form__container__group input,
.form__container__group textarea {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 14px;
  color: rgb(119, 119, 119);
}
.form__container__group input::-moz-placeholder, .form__container__group textarea::-moz-placeholder {
  color: #aaaaaa;
}
.form__container__group input::placeholder,
.form__container__group textarea::placeholder {
  color: #aaaaaa;
}
.form__container__group textarea {
  resize: none;
  height: 100px;
}
.form__container__button {
  background-color: rgb(190, 173, 142);
  margin: 1.5rem 0;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 1rem 1.2rem;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 80%;
  text-align: center;
}
.form__container__button:hoover {
  background-color: #dad0bf;
}/*# sourceMappingURL=contact.css.map */