.aboutus {
    background-color: rgba(249, 249, 249, 1);
    padding: 1.5rem;
    margin-top: 4rem;

    @media only screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(2, auto);
        gap: 2rem; 
        align-items: center;
        justify-items: center;
        padding: 0;
        margin-top: 6rem;
    }

    &__title {
        font-family: sans-serif;
        color: rgb(99, 96, 96);
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__caption {
        text-align: center;
        font-family: old standard tt, serif;
        font-size: 56px;
        font-weight: 100;
        margin-bottom: 1rem;
    }

    &__description {
        font-family: sans-serif;
        text-align: center;
        font-weight: 200;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 2rem;
    }

    &__button {
        background-color: rgba(190, 173, 142, 1);
        font-family: sans-serif;
        font-size: .7rem;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 1rem 2rem;
        margin-bottom: 1.5rem;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 1000px) {
            flex-direction: row;
        }

        &__grey-img {
            width: 100%;
            height: 70%;
            @media only screen and (min-width: 1000px) {
                width: 20%;
            }
        }

        img {
            justify-content: center;
            align-items: center;
        }

        &__caption {
            font-family: old-standard, serif;
            font-size: 24px;
            font-weight: 200;
            margin-bottom: .5rem;
            text-align: center;
        }

        &__description {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: grey;
            text-align: center;
            margin-bottom: 2.4rem;
        }
    }

    @media only screen and (max-width: 999px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-size: 18px;
        }

        &__caption {
            font-size: 28px;
        }

        &__description {
            font-size: 16px;
        }

        &__button {
            font-size: 1rem;
            padding: 1rem 2rem;
        }

        &__info {
            width: 100%;
            margin-top: 2rem;

            &__grey-img {
                width: 100%;
                height: auto;
            }
        }
    }
}
