.hero {
    background-color: $blacktwo;
    padding: 3.5rem 2rem;
    color: $white;
    position: relative;


    &__p {
    @include fontStyle($oswald, .7rem, 300, $white);
    letter-spacing: 2px;
    margin-right: 5rem;
    text-align: left;

    }

    &__h1 {
        @include fontStyle($oldtt, 3rem, 400, $white);
        margin: .5rem 0;
        text-align: left;

    }
}

.buttons {
        display: flex;
        flex-direction: column; 
        align-items: left;
        width: 60%; 
        gap: 1.5rem; 
        margin-top: 3rem;
    

    &__button__take{
        @include defaultButton ($beige, $white)
    }

    &__button__learn-more {
        background-color: $black;
        color: $white;
        border: 2px solid rgba(255, 255, 255, 0.33); 
        font-family: sans-serif;
        font-size: .9rem;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 1rem 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    
        &:hoover{
            background-color: $blacktwo;
        }
    }
}




@media only screen and (min-width: 1000px) {
    .hero {
        padding-top: 10rem;
        padding-right: 12rem;
        padding-left: 12rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__p {
            @include fontStyle($oswald, 1rem, 400, $white);
            margin-bottom: 2rem;
            }
        
            &__h1 {
                @include fontStyle($oldtt, 7rem, 400, $white);
                margin-right: 7rem;
        
            }

    }

    .buttons{
        width: 30%;
        display: flex;
        flex-direction:row;
        gap: 2rem;

        &__button__take{
            padding: 1.4rem 2.5rem;
            white-space: nowrap; 

        }
    
        &__button__learn-more {
            padding: 1.4rem 2.5rem;
            white-space: nowrap; 

        }
}

}