.hero {
    background-color: $blacktwo;
    padding: 3rem 1rem;
    color: $white;
    position: relative;
    padding-bottom: 6rem;


    &__p {
    @include fontStyle($oswald, .7rem, 300, $white);
    letter-spacing: 2px;
    margin: 0;
    text-align: left;

    }

    &__h1 {
        @include fontStyle($oldtt, 3rem, 400, $white);
        margin: .5rem 0;
        text-align: left;

    }
}

.buttons {
        display: flex;
        flex-direction: column; 
        align-items: left;
        width: 65%; 
        gap: 1.3rem; 
        margin-top: 1rem;
    

    &__button__take{
        @include defaultButton ($beige, $white)
    }

    &__button__learn-more {
        @include defaultButton ($black, $white)


    }
}



@media only screen and (min-width: 1000px) {



}