.menu {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 6rem 2rem 3.5rem 2rem;

    &__header-icon {
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: .5rem;
        right: -2.5rem;

        @media (min-width: 1000px) {
            position: fixed;
            right: auto;
            left: -14.5rem;
            top: 9rem;
        }
    }

    &__header-subtitle {
        font-family: $roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem; 
        line-height: 1.5rem;
        letter-spacing: 0.28rem;
        color: $darkgrey;

        @media (min-width: 1000px) {
            font-size: 1.4rem; 
        }
    }

    &__header-title {
        padding: 1.7rem 0;
        font-family: old-standart, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5rem; 
        line-height: 4rem; 

        @media (min-width: 1000px) {
            font-size: 5.6rem; 
            line-height: 6rem;
        }
    }

    &__swiper {
        position: relative;
        max-width: 100%;
        padding-top: 4.4rem;
        height: fit-content;

        .swiper-wrapper {
            display: flex;
            align-items: center;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            @media (min-width: 1000px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &-button-prev,
        &-button-next {
            user-select: none;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: .5rem;
            bottom: 5%;
            width: 2.5rem;
            height: 2.5rem;
            z-index: 99;
            background-color: $beige;
            font-family: $roboto;
            font-size: 1.5rem;
            color: $black;
            border-radius: 2px;
            font-weight: 300;
            cursor: pointer;

            @media (min-width: 1000px) {
                top:rem;
                width: 3rem;
                height: 3rem;
            }

            &:hover {
                background-color: $beigetwo;
                color: $white;
            }
        }

        &-button-prev {
            bottom: .5rem;
            right: 5rem;
        }

        &-button-next {
            bottom: .5rem;
            right: 1rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        background-color: $white;
        padding: 0 1rem;
        border-radius: 10px;
        width: 100%; 

        @media (min-width: 1000px) {
            padding: 5rem;
        }

        &-image {
            img {
                width: 6.5rem; 
                height: 6.5rem; 
                object-fit: cover;
                border-radius: 5px;

                @media (min-width: 1000px) {
                    width: 8rem; 
                    height: 8rem;
                }
            }
        }

        &-details {
            flex: 1;

            &-title {
                font-family: $oldtt;
                font-size: 1.3rem;
                font-weight: 100;
                margin-bottom: 0.5rem;

                @media (min-width: 1000px) {
                    font-size: 2.4rem; 
                    line-height: 2.4rem;
                }
            }

            &-description {
                font-family: $roboto;
                font-size: 0.9rem;
                line-height: 1.5;
                color: $darkgrey;

                @media (min-width: 1000px) {
                    font-size: 1.4rem; 
                    line-height: 2.4rem;
                }
            }
        }

        &-arrow {
            display: none;
            width: 3rem;
            height: 1.5rem;
            align-self: center;
            margin-right: 3rem;
            margin-left: 3rem;

            @media (min-width: 1000px) {
                display: block;
            }
        }

        &:hover {
            @media (min-width: 1000px) {
                transition: all 0.3s;
                background-color: $darkgrey;

                .menu__item-details-title,
                .menu__item-details-description {
                    color: $white;
                }

                .menu__item-arrow {
                    display: block;
                }
            }
        }
    }

    &__images {
        max-width: 100%;
        height: fit-content;
        padding-top: 12rem;
        text-align: center;

        @media (min-width: 1000px) {
            display: none;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
        }

        .swiper-slide {
            img {
                width: 33.5rem;
                height: 33.5rem;
                object-fit: cover;
            }
        }

        .swiper-pagination {
            display: flex;
            justify-content: center;
            height: 0.8rem;
            margin-top: 3.2rem;
            color: $beige;

            .swiper-pagination-bullet-active {
                background: $beige;
            }
        }
    }

    &__imagesDesktop {
        padding-top: 12rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        @media (max-width: 999px) {
            display: none;
        }

        &-img {
            height: 25%;
            width: 33%;
        }
    }
}