.double__room {
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;

  &__detail {
    &__title {
      @include fontStyle($archivo, 0.7rem, 500, $darkgrey);
      margin-bottom: 0.5rem;
      letter-spacing: 2px;
    }

    &__caption {
      @include fontStyle($oldtt, 2rem, 400, $blacktwo);
      letter-spacing: 2px;
      margin-bottom: 0.5rem;
    }

    &__price {
      @include fontStyle($archivo, 1.7rem, 500, $beige);
      margin-bottom: 1.5rem;
    }
  }

  &-detail__image {
    margin-top: 1rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.booking-form {
  flex-direction: column;
  background-color: $white;
  padding: 2rem 2rem;
  width: 100%;
  margin: auto;

  &__title {
    @include fontStyle($archivo, 1rem, bold, $blackthree);
    text-align: center;
    margin: 2rem 0;
  }

  &__subtitle {
    @include fontStyle($archivo, .85rem, bold, $black);
    margin-bottom: 0.5rem;
    display: block;
  }

  &__label {
    width: 100%;
    margin-bottom: 1.5rem;

    &__input-container {
      position: relative;
      display: flex;
      align-items: center;
      background-color: $greytwo;
      padding: 0.8rem 1rem;
      border-radius: 5px;

      .booking-form__calendar-icon {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
        cursor: pointer; 
      }

      .booking-form__input {
        @include fontStyle($archivo, 1rem, 400, $darkgrey);
        border: none;
        background: transparent;
        cursor: pointer; 
        flex: 1;
      
        &::-webkit-calendar-picker-indicator {
          display: none; 
          -webkit-appearance: none;
        }
      }
      
    }
  }

  &__button {
    @include defaultButton($beige, $white);
    width: 100%;
    padding: 1rem;
    font-weight: 400;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: lighten($beige, 10%);
    }
  }
}

@media only screen and (min-width: 1000px) {

.double__room-detail__image {
  width: 100%; 
  object-fit: cover; 
  margin-top: 1rem;
}

}