.details__hero {
    background-color: $blacktwo;
    padding: 2rem 1rem;
    color: $white;
    position: relative;
    padding-bottom: 2.7rem;


    &__p {
        @include fontStyle($oswald, .7rem, 300, $white);
        letter-spacing: 2px;
        text-align: left;

    }

    &__h1 {
        @include fontStyle($oldtt, 2.8rem, 100, $white);
        margin-top: .5rem;
        margin-right: 4rem;
        margin-bottom: 1rem;
        text-align: left;

    }

    &__navegation {
        background-color: $white;
        display: inline-flex; 
        padding: 0.7rem 1.5rem;
        right: 1.25rem;
        bottom: -.1rem;
        position: absolute; 

        }


    &__navegation__return {
        @include fontStyle($archivo, 0.875rem, bold, $black);
        text-decoration: none;
        margin-right: .5rem;
    }

    span {
        @include fontStyle($archivo, 0.875rem, 700, $beige);
    }

    #verticalbar {
        @include fontStyle ($archivo, 0.875rem, 400, $black);
        margin: 0 .5rem;
    }
    
}

@media only screen and (min-width: 1000px) {
    .details__hero {
        padding-top: 8rem;
        padding-right: 12rem;
        padding-left: 12rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__p {
            @include fontStyle($oswald, 1rem, 400, $white);
            margin-bottom: 2rem;
            }
        
            &__h1 {
                @include fontStyle($oldtt, 7rem, 400, $white);
                margin-right: 7rem;
        
            }

            &__navegation__return {
                transition: color 0.3s ease; 

                &:hover {
                    color: $beigetwo; 
                }
            }

    }
}