.details__hero {
  background-color: rgb(51, 51, 51);
  padding: 2rem 1rem;
  color: rgb(255, 255, 255);
  position: relative;
  padding-bottom: 2.7rem;
}
.details__hero__p {
  font-family: "Oswald", "offline-oswald", "Archivo", sans-serif, arial;
  font-size: 0.7rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-align: left;
}
.details__hero__h1 {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 2.8rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
  text-align: left;
}
.details__hero__navegation {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  padding: 0.7rem 1.5rem;
  right: 1.25rem;
  bottom: -0.1rem;
  position: absolute;
}
.details__hero__navegation__return {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.875rem;
  font-weight: bold;
  color: rgb(34, 34, 34);
  text-decoration: none;
  margin-right: 0.5rem;
}
.details__hero span {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(190, 173, 142);
}
.details__hero #verticalbar {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin: 0 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .details__hero {
    padding-top: 8rem;
    padding-right: 12rem;
    padding-left: 12rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .details__hero__p {
    font-family: "Oswald", "offline-oswald", "Archivo", sans-serif, arial;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
  }
  .details__hero__h1 {
    font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
    font-size: 7rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-right: 7rem;
  }
}
.double__room {
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
}
.double__room__detail__title {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(119, 119, 119);
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}
.double__room__detail__caption {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(51, 51, 51);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
.double__room__detail__price {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(190, 173, 142);
  margin-bottom: 1.5rem;
}
.double__room-detail__image {
  margin-top: 1rem;
}
.double__room-detail__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.booking-form {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 2rem 2rem;
  width: 100%;
  margin: auto;
}
.booking-form__title {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(17, 17, 17);
  text-align: center;
  margin: 2rem 0;
}
.booking-form__subtitle {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 0.85rem;
  font-weight: bold;
  color: rgb(34, 34, 34);
  margin-bottom: 0.5rem;
  display: block;
}
.booking-form__label {
  width: 100%;
  margin-bottom: 1.5rem;
}
.booking-form__label__input-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);
  padding: 0.8rem 1rem;
  border-radius: 5px;
}
.booking-form__label__input-container .booking-form__calendar-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.booking-form__label__input-container .booking-form__input {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(119, 119, 119);
  border: none;
  background: transparent;
  cursor: pointer;
  flex: 1;
}
.booking-form__label__input-container .booking-form__input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.booking-form__button {
  background-color: rgb(190, 173, 142);
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 1rem 1.2rem;
  border: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  padding: 1rem;
  font-weight: 400;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.booking-form__button:hoover {
  background-color: #dad0bf;
}
.booking-form__button:hover {
  background-color: #d1c4ae;
}

@media only screen and (min-width: 1000px) {
  .double__room-detail__image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 1rem;
  }
}
.room-detail {
  padding: 2rem;
}
.room-detail p {
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(119, 119, 119);
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.room-detail__amenities__title {
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin-bottom: 0.5rem;
}
.room-detail__amenities__hr {
  border-top: 1px solid rgb(194, 194, 194);
  margin: 0.5rem 0;
}
.room-detail__amenities__ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}
.room-detail__amenities__ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(119, 119, 119);
}
.room-detail__amenities__ul li img {
  width: 20px;
  height: 20px;
}
.room-detail__founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}
.room-detail__founder__image {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
}
.room-detail__founder__image img {
  width: 120%;
  height: 120%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid rgb(190, 173, 142);
}
.room-detail__founder__image__validated {
  position: absolute;
  bottom: 3.9rem;
  left: 4.9rem;
  padding: 0.3rem;
}
.room-detail__founder__image__validated img {
  width: 30px;
  height: 30px;
}
.room-detail__founder__name {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 1.7rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin: 0.5rem 0;
}
.room-detail__founder__rank {
  font-family: "Oswald", "offline-oswald", "Archivo", sans-serif, arial;
  font-size: 0.9rem;
  font-weight: normal;
  color: rgb(190, 173, 142);
  margin: 0.3rem 0;
}
.room-detail__founder__description {
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(119, 119, 119);
  margin-top: 0.5rem;
  line-height: 1.5;
  max-width: 300px;
}
.room-detail__cancellation {
  margin-top: 2rem;
}
.room-detail__cancellation__title {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 1.5rem;
  font-weight: 100;
  color: rgb(51, 51, 51);
  letter-spacing: 2px;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-bottom: 0.5rem;
  width: 100%;
}
.room-detail__cancellation__description {
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(119, 119, 119);
  line-height: 1.5;
  margin-top: 1rem;
}

.related__room {
  padding: 1.7rem;
  background-color: rgb(255, 255, 255);
}
.related__room__title {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(34, 34, 34);
  text-align: left;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}
.related__room__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.related__room__container__img {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 300px;
  background-color: rgb(249, 249, 249);
}
.related__room__container__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.related__room__container__img button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  z-index: 10;
  top: 40%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.related__room__container__img button:hover {
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
}
.related__room__container__img button.button--left {
  position: absolute;
  left: -1rem;
}
.related__room__container__img button.button--right {
  position: absolute;
  right: -1rem;
}
.related__room__container__img button img {
  width: 15px;
  height: 15px;
}
.related__room__container__content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.related__room__container__content__icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1.8rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -2.2rem;
  z-index: 999;
}
.related__room__container__content__icons img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.related__room__container__content__icons img:hover {
  transform: scale(1.1);
}
.related__room__container__content__text {
  text-align: center;
}
.related__room__container__content__text__title {
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-size: 1.7rem;
  font-weight: light;
  color: rgb(34, 34, 34);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.related__room__container__content__text__title a {
  text-decoration: none;
  color: rgb(34, 34, 34);
}
.related__room__container__content__text__title a:hover {
  color: rgb(119, 119, 119);
}
.related__room__container__content__text__description {
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(119, 119, 119);
  margin-bottom: 1.5rem;
}
.related__room__container__content__text__details {
  font-family: "Roboto", "offline-roboto", "Archivo", sans-serif, arial;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(190, 173, 142);
  display: flex;
  align-items: center;
  justify-content: center;
}
.related__room__container__content__text__details span {
  color: rgb(34, 34, 34);
}
.related__room__container__content__text__details button {
  background-color: rgb(190, 173, 142);
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 1rem 1.2rem;
  border: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 1rem;
}
.related__room__container__content__text__details button:hoover {
  background-color: #dad0bf;
}/*# sourceMappingURL=roomdetails.css.map */