.nav {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 4px -3px rgba(0, 0, 0, 0.29);

    &__menu-web {
        display: none;
    }

    &__menu-mobile {
        font-family: sans-serif;
        font-weight: bold;
        color: black;
        margin-bottom: 1rem;

        li{
            list-style: none;
            font-size: 16px;
            padding: .6rem;
        }

        a {
            text-decoration: none;
            color: black;
            padding-bottom: 1rem;
        }
    }

    &__hamburger {
        display: inline;
        position: absolute;
        top: 2.3rem;
        left: 1.4rem;
    }

    &__logo {
        display: inline;
        top: 0.8rem;
        right: 1.4rem;
        margin-left: 2rem;
    }

    &__header-icons {
        display: inline;
        position: absolute;
        top: 2.3rem;
        right: 1.4rem;
        margin-right: .5rem;
    }
}

@media only screen and (min-width: 1000px) {
    .nav__menu-mobile {
        display: none;
    }


}

