@import "const/variables.scss";
@import "const/mixins.scss";

@import "styles/components/__button.scss";
@import "styles/components/__header.scss";
@import "styles/components/__footer.scss";
@import "styles/components/__cards.scss";


@import "styles/pages/__header.scss";
@import "styles/pages/__hero.scss";
@import "styles/pages/__bookingform.scss";
@import "styles/pages/__aboutus.scss";
@import "styles/pages/__footer.scss";

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

    @media only screen and (min-width: 1000px) {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        min-width: 320px;    

    }
}